h1 {
    font-family: 'Audiowide', cursive;
    font-size: 64px;
}

h2,
h3 {
    font-family: 'Bungee Hairline', cursive;
}

figure {
    background: black;
    border: 2px yellow solid;
    float: left;
    margin: 10px;
}

img {
    max-height: 125px;
}

.btn {
    clear: both;
    display: block;
    margin: 10px;
    max-width: 100px;
}
