h1 {
    font-family: 'Audiowide', cursive;
    font-size: 75px;
}

h2,
h3 {
    font-family: 'Bungee Hairline', cursive;
}

figure {
    float: left;
    margin-right: 10px;
}

img {
    border: 2px yellow solid;
    max-height: 125px;
}
